$me-commerce-purple: #ac67bf;
$me-commerce-white: #fff;

body .row{
	margin: 0;
}
/* Override Bootstrap */
div[class^="col-xs-"],
div[class^="col-sm-"],
div[class^="col-md-"],
div[class^="col-lg-"]{
	padding-left: 0;
	padding-right: 0;
}
/* Navbar Styles */
.navbar{
	background-color: $me-commerce-purple;
}
/* Footer Styles */
.footer{
	padding: 15px 0;
	color: $me-commerce-white;
	background-color: $me-commerce-purple;
}
/* Wishlist styles */
.wishlist-container{
	width: 100%;

	.wishlist{
		padding: 25px 0;
	}
	.card{
		width: 200px;
		height: 200px;		
		line-height: 200px;
		font-size: 24px;
	}

	.card:hover{
		cursor: pointer;
	}

	.wishlist-card{
		line-height: 200px;
		.fa-4{
			font-size: 7em;
		}
	}

	.new-wishlist-card{
		border: 0;
	}

	.wishlist-card-column{
		padding: 10px;
		text-align: center;
	}
}