@import "constants";

body{
	background-color: #f2f2f2;
}
body .row{
	margin: 0;
}
/* Override Bootstrap */
div[class^="col-xs-"],
div[class^="col-sm-"],
div[class^="col-md-"],
div[class^="col-lg-"]{
	padding-left: 0;
	padding-right: 0;
}
/*
/* Navbar Styles */
.navbar-container{
	
	.navbar{
		background-color: $me-commerce-brand;
		padding: 30px;
	}
}
/* Footer Styles */
.footer{
	padding: 50px;
	color: $me-commerce-white;
	background-color: $me-commerce-brand;
	width: 100%;

	.social-links-list{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}
